{% extends "base.html" %}

{% block content %}
<div class="bloco capa">

    <div class="bloco">
        <p>
            A cultura organizacional é representada pelo conjunto de valores, práticas e formas de atuação
            que orientam o funcionamento de uma empresa.
        </p>

        <p>
            O objetivo desta pesquisa compreender como a cultura organizacional é percebida pelos colaboradores
            atualmente e como consideram que deveria ser a cultura ideal.
        </p>

        <p>
            O questionário que segue é baseado no Modelo de Valores Competitivos (CVF), que considera quatro tipos de cultura:
        </p>

        <ul>
            <li>Colaborativa</li>
            <li>Inovadora</li>
            <li>Orientada a Resultados</li>
            <li>Estruturada</li>
        </ul>

        <p>
            As informações coletadas apoiarão a identificação de oportunidades de melhoria e o desenvolvimento de ações
            alinhadas à realidade da organização. Por isso, é essencial que as respostas sejam fornecidas de forma sincera
            e transparente.
        </p>

        <h3>Confidencialidade</h3>
        <p>
            Esta pesquisa é anônima e não solicita nome, e-mail, CPF ou qualquer dado que permita a identificação dos participantes.
            Para garantir a qualidade dos resultados, o sistema limita participações repetidas após o envio das respostas.
        </p>
    </div>

    <div style="text-align: right; margin-top: 20px;">
    <a href="{{ url_for('consentimento') }}" class="botao">Seguir</a>
    </div>

</div>
{% endblock %}